<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Change Admin Password</title>
  </head>

  <body>
    <h1>Change Admin Password</h1>
    <form action="/admin/password" method="post">
      <label>
        Current password
        <input
          type="password"
          name="current_password"
          value="Enter current password"
        />
      </label>
      <br />
      <label>
        New password
        <input
          type="password"
          name="new_password"
          value="Enter the new password"
        />
      </label>
      <br />
      <label>
        Confirm new password
        <input
          type="password"
          name="new_password_check"
          value="Type the new password again"
        />
      </label>
    </form>
  </body>
</html>
<p><a href="/admin/dashboard">"<—— BACK"</a></p>
